<html>

<head>
    <title>Page Title</title>
</head>

<h1>Email<input id="campoEmail" type="text"> </h1>

<h1>Senhaac<input id="campoSenha" type="password"> </h1>

<body>
    <script>

        function GetData() {

            fetch("http://localhost:3200/usuario", {
                method: "post",
                headers: {
                    'Accept': 'application/json',
                    'Content-Type': 'application/json'
                },

                //make sure to serialize your JSON body
                body: JSON.stringify({
                    "email": document.getElementById("campoEmail").value,
                    "senha": document.getElementById("campoSenha").value,
                })
            })

        }
    </script>
    <button id='getData' onclick="GetData()">Cadastrar</button>

</body>

</html>